Source: signalform-tools
Maintainer: Metrics <team-metrics@yelp.com>
Build-Depends:
    dh-virtualenv,

Package: signalform-tools
Depends: python3.8, ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Architecture: any
Description: Signalform command line with useful tools.
