#!/usr/bin/make -f
# -*- makefile -*-
%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --pypi-url='https://pypi.yelpcorp.com/simple' --python /usr/bin/python3.4 --preinstall=pip-custom-platform --pip-tool=pip-custom-platform
