#!/usr/bin/make -f
# -*- makefile -*-

ifdef CUSTOM_PYPI_URL
DH_PYPI_URL=--pypi-url=$(CUSTOM_PYPI_URL)
endif

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv $(DH_PYPI_URL) --python /usr/bin/python3.6 --preinstall=pip-custom-platform --pip-tool=pip-custom-platform
